dev/OCC-SFTP.json
{"flowContents":{"identifier":"7e9206b0-4fc3-31bc-b2a1-c9082578b71d","instanceIdentifier":"77be6f90-019c-1000-ffff-ffff93663a0d","name":"OCC-SFTP","comments":"","position":{"x":-1024.0,"y":-472.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"555ef8fe-ae31-3d2b-a833-19d13a7be386","instanceIdentifier":"77db6285-019c-1000-0000-000007a7e0df","name":"CryptographicHashContent","comments":"","position":{"x":-336.0,"y":176.0},"type":"org.apache.nifi.processors.standard.CryptographicHashContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0.4.2.1.700-93"},"properties":{"hash_algorithm":"SHA-256","fail_when_empty":"false"},"propertyDescriptors":{"hash_algorithm":{"name":"hash_algorithm","displayName":"Hash Algorithm","identifiesControllerService":false,"sensitive":false,"dynamic":false},"fail_when_empty":{"name":"fail_when_empty","displayName":"Fail if the content is empty","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7e9206b0-4fc3-31bc-b2a1-c9082578b71d"},{"identifier":"26baba3f-61b2-36a7-9404-d6b38b5dcd89","instanceIdentifier":"77dc8dd9-019c-1000-ffff-ffff9f5bbb5b","name":"LogAttribute","comments":"","position":{"x":-824.5,"y":454.5},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0.4.2.1.700-93"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7e9206b0-4fc3-31bc-b2a1-c9082578b71d"},{"identifier":"aff8866c-604d-3603-a9c4-8dcfbb2a4e64","instanceIdentifier":"77db921b-019c-1000-0000-00002a02f320","name":"PutSFTP","comments":"","position":{"x":-328.0,"y":400.0},"type":"org.apache.nifi.processors.standard.PutSFTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0.4.2.1.700-93"},"properties":{"Remote Owner":null,"Port":"22","proxy-configuration-service":null,"Create Directory":"false","Conflict Resolution":"NONE","Ciphers Allowed":null,"Disable Directory Listing":"false","Temporary Filename":null,"Remote Group":null,"Connection Timeout":"30 sec","Permissions":null,"Dot Rename":"true","Last Modified Time":null,"Strict Host Key Checking":"false","Hostname":null,"Reject Zero-Byte Files":"true","Remote Path":null,"Host Key File":null,"Use Compression":"false","Message Authentication Codes Allowed":null,"Send Keep Alive On Timeout":"true","Data Timeout":"30 sec","Private Key Path":null,"Username":null,"Batch Size":"500","Key Exchange Algorithms Allowed":null,"Key Algorithms Allowed":null},"propertyDescriptors":{"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Create Directory":{"name":"Create Directory","displayName":"Create Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution":{"name":"Conflict Resolution","displayName":"Conflict Resolution","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ciphers Allowed":{"name":"Ciphers Allowed","displayName":"Ciphers Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Disable Directory Listing":{"name":"Disable Directory Listing","displayName":"Disable Directory Listing","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Filename":{"name":"Temporary Filename","displayName":"Temporary Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Private Key Passphrase":{"name":"Private Key Passphrase","displayName":"Private Key Passphrase","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Dot Rename":{"name":"Dot Rename","displayName":"Dot Rename","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Strict Host Key Checking":{"name":"Strict Host Key Checking","displayName":"Strict Host Key Checking","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Reject Zero-Byte Files":{"name":"Reject Zero-Byte Files","displayName":"Reject Zero-Byte Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Path":{"name":"Remote Path","displayName":"Remote Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Host Key File":{"name":"Host Key File","displayName":"Host Key File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Use Compression":{"name":"Use Compression","displayName":"Use Compression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Authentication Codes Allowed":{"name":"Message Authentication Codes Allowed","displayName":"Message Authentication Codes Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Send Keep Alive On Timeout":{"name":"Send Keep Alive On Timeout","displayName":"Send Keep Alive On Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Private Key Path":{"name":"Private Key Path","displayName":"Private Key Path","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Exchange Algorithms Allowed":{"name":"Key Exchange Algorithms Allowed","displayName":"Key Exchange Algorithms Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Algorithms Allowed":{"name":"Key Algorithms Allowed","displayName":"Key Algorithms Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7e9206b0-4fc3-31bc-b2a1-c9082578b71d"},{"identifier":"4c2096d2-ab6e-3181-95ef-15c8104a2cbf","instanceIdentifier":"77db34c9-019c-1000-0000-00003e5a8c48","name":"FetchFile","comments":"","position":{"x":-360.0,"y":-40.0},"type":"org.apache.nifi.processors.standard.FetchFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0.4.2.1.700-93"},"properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":null,"Log level when permission denied":"ERROR","File to Fetch":"${absolute.path}/${filename}","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7e9206b0-4fc3-31bc-b2a1-c9082578b71d"},{"identifier":"66b3787f-0506-3662-80dd-bf1df4501937","instanceIdentifier":"77dcb072-019c-1000-0000-00001f8d8dca","name":"PutEmail","comments":"","position":{"x":245.5,"y":791.5},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0.4.2.1.700-93"},"properties":{"CC":null,"Reply-To":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":null,"Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"25","SMTP Auth":"true","From":null,"Include All Attributes In Message":"false","SMTP Hostname":null,"Subject":"Message from NiFi","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/plain","SMTP Username":null,"To":null,"email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"false"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Reply-To":{"name":"Reply-To","displayName":"Reply-To","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false,"dynamic":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7e9206b0-4fc3-31bc-b2a1-c9082578b71d"},{"identifier":"7e27e488-928f-3f23-a31a-c358b4ced00c","instanceIdentifier":"77dab34f-019c-1000-ffff-ffffb8d5bb8a","name":"ListFile","comments":"","position":{"x":-343.5,"y":-246.5},"type":"org.apache.nifi.processors.standard.ListFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0.4.2.1.700-93"},"properties":{"Minimum File Age":"0 sec","et-initial-listing-target":"all","Maximum File Age":null,"max-listing-time":"3 mins","record-writer":null,"Maximum File Size":null,"et-time-window":"3 hours","et-node-identifier":"${hostname()}","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","listing-strategy":"timestamps","Input Directory":null,"target-system-timestamp-precision":"auto-detect","track-performance":"false","max-performance-metrics":"100000","Minimum File Size":"0 B","Ignore Hidden Files":"true","et-state-cache":null,"max-operation-time":"10 secs"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-listing-time":{"name":"max-listing-time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-node-identifier":{"name":"et-node-identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false,"dynamic":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"track-performance":{"name":"track-performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-performance-metrics":{"name":"max-performance-metrics","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max-operation-time":{"name":"max-operation-time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7e9206b0-4fc3-31bc-b2a1-c9082578b71d"},{"identifier":"2b2be35d-5ae1-3fb5-8fc6-eeb563e19ce2","instanceIdentifier":"77dc59c7-019c-1000-ffff-ffffeb5aa25b","name":"UpdateAttribute","comments":"","position":{"x":-304.0,"y":664.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0.4.2.1.700-93"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7e9206b0-4fc3-31bc-b2a1-c9082578b71d"}],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"OCC-SFTP-PC","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"OCC-SFTP-PC":{"name":"OCC-SFTP-PC","parameters":[{"name":"alert.email.body","description":"Detailed error message for the operations team.","sensitive":false,"provided":false,"value":"ALERT: File replication failed... (see details below)"},{"name":"sftp.server.fqdn","description":"destination sftp host info","sensitive":false,"provided":false,"value":"chi.theocc-int.com"},{"name":"alert.email.subject","description":"Subject line for failure notifications.","sensitive":false,"provided":false,"value":"CRITICAL: Replication Failure - ${filename}"},{"name":"sftp.retry.count","description":"Number of automated attempts before failing.","sensitive":false,"provided":false,"value":"3"},{"name":"sftp.remote.root","description":"Base directory on the destination SFTP server.","sensitive":false,"provided":false,"value":"/"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}