dev/default/OCC-S2S-DCA.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1771550605100,
    "description" : "",
    "identifier" : "OCC-S2S-DCA",
    "lastModifiedTimestamp" : 1771550605100,
    "name" : "OCC-S2S-DCA",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -648.0,
        "y" : 664.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4850a0e0-e9ad-30d1-baf1-1b1437553997",
        "name" : "PutSFTP",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c03b65e8-ce77-385f-9476-f5e094840559",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "099e41ad-1715-39d4-b70d-bc705597f66b",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 10
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d997ba1e-53e6-370f-885d-7a94855a1d93",
        "name" : "CryptographicHashContent",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "031a4cda-b4a9-3f52-85f9-e45535bfe307",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "28b6c06a-2a38-391a-92c9-e597cec0d49f",
        "name" : "FetchFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 3
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "28b6c06a-2a38-391a-92c9-e597cec0d49f",
        "name" : "FetchFile",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9be57aa5-a6d8-3622-91ba-9d255ceecc0a",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "2b721146-c7b9-3c13-a354-df36f540dfee",
        "name" : "ListFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 1
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4850a0e0-e9ad-30d1-baf1-1b1437553997",
        "name" : "PutSFTP",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "03f93db6-714e-37e6-a240-9a801568f818",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d997ba1e-53e6-370f-885d-7a94855a1d93",
        "name" : "CryptographicHashContent",
        "type" : "PROCESSOR"
      },
      "zIndex" : 4
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "31937919-fd7b-388f-a467-c23afc6cb018",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a2e4b3ea-c511-3a46-b0a2-2f3e619802e6",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure", "permission.denied", "not.found" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "28b6c06a-2a38-391a-92c9-e597cec0d49f",
        "name" : "FetchFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 2
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a2a1e9da-85cf-368e-93c9-698b9e2118a7",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ed7939bf-f936-3005-afe0-1ea8468ac52c",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "539efdb6-6c43-3447-b93f-20bf1cc7d0cf",
        "name" : "PutEmail",
        "type" : "PROCESSOR"
      },
      "zIndex" : 11
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "099e41ad-1715-39d4-b70d-bc705597f66b",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "909834c4-d9ab-3528-9f57-aff944468469",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4850a0e0-e9ad-30d1-baf1-1b1437553997",
        "name" : "PutSFTP",
        "type" : "PROCESSOR"
      },
      "zIndex" : 8
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "539efdb6-6c43-3447-b93f-20bf1cc7d0cf",
        "name" : "PutEmail",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "907cfe8a-45d2-307f-a816-7ff080f66dd5",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "reject", "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4850a0e0-e9ad-30d1-baf1-1b1437553997",
        "name" : "PutSFTP",
        "type" : "PROCESSOR"
      },
      "zIndex" : 9
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "31937919-fd7b-388f-a467-c23afc6cb018",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "24f93e0c-3dfe-3f7d-91bc-34182859a8e4",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d997ba1e-53e6-370f-885d-7a94855a1d93",
        "name" : "CryptographicHashContent",
        "type" : "PROCESSOR"
      },
      "zIndex" : 5
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "32049847-9983-3fb7-b3bd-d42982c07e39",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "90f07ffb-10fb-388f-a070-6842826bbc53",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4850a0e0-e9ad-30d1-baf1-1b1437553997",
        "name" : "PutSFTP",
        "type" : "PROCESSOR"
      },
      "zIndex" : 7
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "31937919-fd7b-388f-a467-c23afc6cb018",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "82f0fd23-a4ec-3bbf-829e-423bed92da8f",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "reject" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4850a0e0-e9ad-30d1-baf1-1b1437553997",
        "name" : "PutSFTP",
        "type" : "PROCESSOR"
      },
      "zIndex" : 6
    } ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a2a1e9da-85cf-368e-93c9-698b9e2118a7",
      "position" : {
        "x" : 344.0,
        "y" : 528.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "31937919-fd7b-388f-a467-c23afc6cb018",
      "position" : {
        "x" : -760.0,
        "y" : 144.0
      }
    } ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "OCC-S2S-DCA",
    "outputPorts" : [ ],
    "parameterContextName" : "OCC-S2S-DCA",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0.4.2.1.700-93"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "32049847-9983-3fb7-b3bd-d42982c07e39",
      "maxBackoffPeriod" : "10 mins",
      "name" : "LogAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1048.0,
        "y" : 464.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "Log FlowFile Properties" : "true",
        "Log Level" : "warn",
        "Attributes to Log" : "path,filename,file.size , content_SHA-256",
        "attributes-to-log-regex" : ".*",
        "Output Format" : "Single Line",
        "Log Payload" : "false"
      },
      "propertyDescriptors" : {
        "Log prefix" : {
          "displayName" : "Log prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log prefix",
          "sensitive" : false
        },
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "Log FlowFile Properties" : {
          "displayName" : "Log FlowFile Properties",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log FlowFile Properties",
          "sensitive" : false
        },
        "Log Level" : {
          "displayName" : "Log Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Level",
          "sensitive" : false
        },
        "attributes-to-ignore-regex" : {
          "displayName" : "Attributes to Ignore by Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attributes-to-ignore-regex",
          "sensitive" : false
        },
        "Attributes to Ignore" : {
          "displayName" : "Attributes to Ignore",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Ignore",
          "sensitive" : false
        },
        "Attributes to Log" : {
          "displayName" : "Attributes to Log",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Log",
          "sensitive" : false
        },
        "attributes-to-log-regex" : {
          "displayName" : "Attributes to Log by Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attributes-to-log-regex",
          "sensitive" : false
        },
        "Output Format" : {
          "displayName" : "Output Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Format",
          "sensitive" : false
        },
        "Log Payload" : {
          "displayName" : "Log Payload",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Payload",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "success" ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.LogAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0.4.2.1.700-93"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "PRIMARY",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2b721146-c7b9-3c13-a354-df36f540dfee",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ListFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -352.0,
        "y" : -328.0
      },
      "properties" : {
        "Minimum File Age" : "0 sec",
        "et-initial-listing-target" : "all",
        "max-listing-time" : "3 mins",
        "et-time-window" : "3 hours",
        "et-node-identifier" : "${hostname()}",
        "Recurse Subdirectories" : "true",
        "File Filter" : "[^\\.].*",
        "Path Filter" : "[^\\.].*",
        "Include File Attributes" : "true",
        "Input Directory Location" : "Local",
        "listing-strategy" : "timestamps",
        "Input Directory" : "#{sftp.local.root}",
        "target-system-timestamp-precision" : "auto-detect",
        "track-performance" : "false",
        "max-performance-metrics" : "100000",
        "Minimum File Size" : "0 B",
        "Ignore Hidden Files" : "true",
        "max-operation-time" : "10 secs"
      },
      "propertyDescriptors" : {
        "Minimum File Age" : {
          "displayName" : "Minimum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Age",
          "sensitive" : false
        },
        "et-initial-listing-target" : {
          "displayName" : "Entity Tracking Initial Listing Target",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "et-initial-listing-target",
          "sensitive" : false
        },
        "Maximum File Age" : {
          "displayName" : "Maximum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Age",
          "sensitive" : false
        },
        "max-listing-time" : {
          "displayName" : "Max Directory Listing Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-listing-time",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "Maximum File Size" : {
          "displayName" : "Maximum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Size",
          "sensitive" : false
        },
        "et-time-window" : {
          "displayName" : "Entity Tracking Time Window",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "et-time-window",
          "sensitive" : false
        },
        "et-node-identifier" : {
          "displayName" : "Entity Tracking Node Identifier",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "et-node-identifier",
          "sensitive" : false
        },
        "Recurse Subdirectories" : {
          "displayName" : "Recurse Subdirectories",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Recurse Subdirectories",
          "sensitive" : false
        },
        "File Filter" : {
          "displayName" : "File Filter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Filter",
          "sensitive" : false
        },
        "Path Filter" : {
          "displayName" : "Path Filter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Filter",
          "sensitive" : false
        },
        "Include File Attributes" : {
          "displayName" : "Include File Attributes",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include File Attributes",
          "sensitive" : false
        },
        "Input Directory Location" : {
          "displayName" : "Input Directory Location",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Input Directory Location",
          "sensitive" : false
        },
        "listing-strategy" : {
          "displayName" : "Listing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "listing-strategy",
          "sensitive" : false
        },
        "Input Directory" : {
          "displayName" : "Input Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Input Directory",
          "sensitive" : false
        },
        "target-system-timestamp-precision" : {
          "displayName" : "Target System Timestamp Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "target-system-timestamp-precision",
          "sensitive" : false
        },
        "track-performance" : {
          "displayName" : "Track Performance",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "track-performance",
          "sensitive" : false
        },
        "max-performance-metrics" : {
          "displayName" : "Maximum Number of Files to Track",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-performance-metrics",
          "sensitive" : false
        },
        "Minimum File Size" : {
          "displayName" : "Minimum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Size",
          "sensitive" : false
        },
        "Ignore Hidden Files" : {
          "displayName" : "Ignore Hidden Files",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ignore Hidden Files",
          "sensitive" : false
        },
        "et-state-cache" : {
          "displayName" : "Entity Tracking State Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "et-state-cache",
          "sensitive" : false
        },
        "max-operation-time" : {
          "displayName" : "Max Disk Operation Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-operation-time",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "1 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ListFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0.4.2.1.700-93"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "28b6c06a-2a38-391a-92c9-e597cec0d49f",
      "maxBackoffPeriod" : "10 mins",
      "name" : "FetchFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -360.0,
        "y" : -40.0
      },
      "properties" : {
        "Move Conflict Strategy" : "Rename",
        "Log level when file not found" : "ERROR",
        "Log level when permission denied" : "ERROR",
        "File to Fetch" : "${absolute.path}/${filename}",
        "Completion Strategy" : "None"
      },
      "propertyDescriptors" : {
        "Move Conflict Strategy" : {
          "displayName" : "Move Conflict Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Move Conflict Strategy",
          "sensitive" : false
        },
        "Log level when file not found" : {
          "displayName" : "Log level when file not found",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log level when file not found",
          "sensitive" : false
        },
        "Move Destination Directory" : {
          "displayName" : "Move Destination Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Move Destination Directory",
          "sensitive" : false
        },
        "Log level when permission denied" : {
          "displayName" : "Log level when permission denied",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log level when permission denied",
          "sensitive" : false
        },
        "File to Fetch" : {
          "displayName" : "File to Fetch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File to Fetch",
          "sensitive" : false
        },
        "Completion Strategy" : {
          "displayName" : "Completion Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Completion Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.FetchFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0.4.2.1.700-93"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d997ba1e-53e6-370f-885d-7a94855a1d93",
      "maxBackoffPeriod" : "10 mins",
      "name" : "CryptographicHashContent",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -344.0,
        "y" : 192.0
      },
      "properties" : {
        "hash_algorithm" : "SHA-256",
        "fail_when_empty" : "false"
      },
      "propertyDescriptors" : {
        "hash_algorithm" : {
          "displayName" : "Hash Algorithm",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "hash_algorithm",
          "sensitive" : false
        },
        "fail_when_empty" : {
          "displayName" : "Fail if the content is empty",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "fail_when_empty",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.CryptographicHashContent",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0.4.2.1.700-93"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4850a0e0-e9ad-30d1-baf1-1b1437553997",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutSFTP",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -328.0,
        "y" : 432.0
      },
      "properties" : {
        "Port" : "22",
        "Create Directory" : "true",
        "Conflict Resolution" : "NONE",
        "Disable Directory Listing" : "false",
        "Connection Timeout" : "30 sec",
        "Dot Rename" : "true",
        "Strict Host Key Checking" : "false",
        "Password" : "#{sftp.password}",
        "Hostname" : "#{sftp.server.fqdn}",
        "Reject Zero-Byte Files" : "true",
        "Remote Path" : "#{sftp.remote.root}/${path}",
        "Use Compression" : "true",
        "Send Keep Alive On Timeout" : "true",
        "Data Timeout" : "30 sec",
        "Username" : "#{sftp.username}",
        "Batch Size" : "500"
      },
      "propertyDescriptors" : {
        "Remote Owner" : {
          "displayName" : "Remote Owner",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Remote Owner",
          "sensitive" : false
        },
        "Port" : {
          "displayName" : "Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Port",
          "sensitive" : false
        },
        "proxy-configuration-service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "proxy-configuration-service",
          "sensitive" : false
        },
        "Create Directory" : {
          "displayName" : "Create Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Create Directory",
          "sensitive" : false
        },
        "Conflict Resolution" : {
          "displayName" : "Conflict Resolution",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Conflict Resolution",
          "sensitive" : false
        },
        "Ciphers Allowed" : {
          "displayName" : "Ciphers Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ciphers Allowed",
          "sensitive" : false
        },
        "Disable Directory Listing" : {
          "displayName" : "Disable Directory Listing",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Disable Directory Listing",
          "sensitive" : false
        },
        "Temporary Filename" : {
          "displayName" : "Temporary Filename",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Temporary Filename",
          "sensitive" : false
        },
        "Remote Group" : {
          "displayName" : "Remote Group",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Remote Group",
          "sensitive" : false
        },
        "Private Key Passphrase" : {
          "displayName" : "Private Key Passphrase",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Private Key Passphrase",
          "sensitive" : true
        },
        "Connection Timeout" : {
          "displayName" : "Connection Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Timeout",
          "sensitive" : false
        },
        "Permissions" : {
          "displayName" : "Permissions",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Permissions",
          "sensitive" : false
        },
        "Dot Rename" : {
          "displayName" : "Dot Rename",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Dot Rename",
          "sensitive" : false
        },
        "Last Modified Time" : {
          "displayName" : "Last Modified Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Last Modified Time",
          "sensitive" : false
        },
        "Strict Host Key Checking" : {
          "displayName" : "Strict Host Key Checking",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Strict Host Key Checking",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        },
        "Hostname" : {
          "displayName" : "Hostname",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Hostname",
          "sensitive" : false
        },
        "Reject Zero-Byte Files" : {
          "displayName" : "Reject Zero-Byte Files",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Reject Zero-Byte Files",
          "sensitive" : false
        },
        "Remote Path" : {
          "displayName" : "Remote Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Remote Path",
          "sensitive" : false
        },
        "Host Key File" : {
          "displayName" : "Host Key File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Host Key File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "Use Compression" : {
          "displayName" : "Use Compression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Use Compression",
          "sensitive" : false
        },
        "Message Authentication Codes Allowed" : {
          "displayName" : "Message Authentication Codes Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Message Authentication Codes Allowed",
          "sensitive" : false
        },
        "Send Keep Alive On Timeout" : {
          "displayName" : "Send Keep Alive On Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Send Keep Alive On Timeout",
          "sensitive" : false
        },
        "Data Timeout" : {
          "displayName" : "Data Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Timeout",
          "sensitive" : false
        },
        "Private Key Path" : {
          "displayName" : "Private Key Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Private Key Path",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "Username" : {
          "displayName" : "Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Username",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Key Exchange Algorithms Allowed" : {
          "displayName" : "Key Exchange Algorithms Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key Exchange Algorithms Allowed",
          "sensitive" : false
        },
        "Key Algorithms Allowed" : {
          "displayName" : "Key Algorithms Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key Algorithms Allowed",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "failure", "reject" ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutSFTP",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0.4.2.1.700-93"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "539efdb6-6c43-3447-b93f-20bf1cc7d0cf",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutEmail",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 56.0,
        "y" : 760.0
      },
      "properties" : {
        "SMTP Socket Factory" : "javax.net.ssl.SSLSocketFactory",
        "Message" : "#{alert.email.body}",
        "Attach File" : "false",
        "attribute-name-regex" : ".*",
        "input-character-set" : "UTF-8",
        "SMTP Port" : "25",
        "SMTP Auth" : "true",
        "From" : "nifi@cloudera.com",
        "Include All Attributes In Message" : "false",
        "SMTP Hostname" : "smtp.cloudera.com",
        "Subject" : "#{alert.email.subject}",
        "SMTP X-Mailer Header" : "NiFi",
        "Content Type" : "text/plain",
        "To" : "jprosser@cloudera.com",
        "email-ff-content-as-message" : "false",
        "authorization-mode" : "password-based-authorization-mode",
        "SMTP TLS" : "false"
      },
      "propertyDescriptors" : {
        "CC" : {
          "displayName" : "CC",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "CC",
          "sensitive" : false
        },
        "Reply-To" : {
          "displayName" : "Reply-To",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Reply-To",
          "sensitive" : false
        },
        "SMTP Socket Factory" : {
          "displayName" : "SMTP Socket Factory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Socket Factory",
          "sensitive" : false
        },
        "BCC" : {
          "displayName" : "BCC",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "BCC",
          "sensitive" : false
        },
        "Message" : {
          "displayName" : "Message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Message",
          "sensitive" : false
        },
        "Attach File" : {
          "displayName" : "Attach File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attach File",
          "sensitive" : false
        },
        "attribute-name-regex" : {
          "displayName" : "Attributes to Send as Headers (Regex)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attribute-name-regex",
          "sensitive" : false
        },
        "input-character-set" : {
          "displayName" : "Input Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "input-character-set",
          "sensitive" : false
        },
        "SMTP Port" : {
          "displayName" : "SMTP Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Port",
          "sensitive" : false
        },
        "SMTP Auth" : {
          "displayName" : "SMTP Auth",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Auth",
          "sensitive" : false
        },
        "From" : {
          "displayName" : "From",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "From",
          "sensitive" : false
        },
        "Include All Attributes In Message" : {
          "displayName" : "Include All Attributes In Message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include All Attributes In Message",
          "sensitive" : false
        },
        "SMTP Hostname" : {
          "displayName" : "SMTP Hostname",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Hostname",
          "sensitive" : false
        },
        "Subject" : {
          "displayName" : "Subject",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Subject",
          "sensitive" : false
        },
        "SMTP X-Mailer Header" : {
          "displayName" : "SMTP X-Mailer Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP X-Mailer Header",
          "sensitive" : false
        },
        "oauth2-access-token-provider" : {
          "displayName" : "OAuth2 Access Token Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "oauth2-access-token-provider",
          "sensitive" : false
        },
        "Content Type" : {
          "displayName" : "Content Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Content Type",
          "sensitive" : false
        },
        "SMTP Username" : {
          "displayName" : "SMTP Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Username",
          "sensitive" : false
        },
        "To" : {
          "displayName" : "To",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "To",
          "sensitive" : false
        },
        "SMTP Password" : {
          "displayName" : "SMTP Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Password",
          "sensitive" : true
        },
        "email-ff-content-as-message" : {
          "displayName" : "Flow file content as message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "email-ff-content-as-message",
          "sensitive" : false
        },
        "authorization-mode" : {
          "displayName" : "Authorization Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "authorization-mode",
          "sensitive" : false
        },
        "SMTP TLS" : {
          "displayName" : "SMTP STARTTLS",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP TLS",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutEmail",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0.4.2.1.700-93"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "099e41ad-1715-39d4-b70d-bc705597f66b",
      "maxBackoffPeriod" : "10 mins",
      "name" : "UpdateAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -440.0,
        "y" : 768.0
      },
      "properties" : {
        "Store State" : "Do not store state",
        "canonical-value-lookup-cache-size" : "100"
      },
      "propertyDescriptors" : {
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "canonical-value-lookup-cache-size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "canonical-value-lookup-cache-size",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "OCC-S2S-DCA" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "OCC-S2S-DCA",
      "parameters" : [ ]
    }
  },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "jprosser",
    "flowIdentifier" : "OCC-S2S-DCA",
    "timestamp" : 0
  }
}